/* The Maker Bus Stylesheet */

@import url(http://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #fff;
  color: #666;
  font-family: 'Open Sans', arial, sans-serif;
  
}

header {
  display: block;
  height: 180px;
  text-align:center;
  border-bottom: 5px solid #000;
  margin: 30px 5px 30px 5px;}

h1{
  text-align:center;
}
  strong{
    color:blue;
    font-size:30px;
  }
 
  #map {
    width: 500px;
    height: 500px;
    margin: 50px;
  }